<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
</head>
<body>
    <form method="post" action = "/posts" >
        <input placeholder="Enter Username" name = "username"/> <br/>
        <textarea placeholder="Write Your Text" name="content"></textarea> <br/>
        <button>Submit Post</button>
    </form>
</body>
</html>