<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home Page</h1>
    <h3><%= 1+2%></h3>
    <h3><%= "Barun Aaryan".toUpperCase() %></h3>
    <h3><%= ["hello", "bonjour", "namaste"][0] %></h3>
    <p>
        I am the best person ion the world. I love to be around people. I Love 
    </p>
    <button>Click Me</button>
</body>  
</html>