<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new Listing</h3>
    <form action="/listings" method= "POST">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br><br>
        <textarea type="text" name="listing[description]" placeholder="Enter description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image URL/Link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br><br>
        <button>Add</button>
<!-- listing is the object here -->
    </form>
</body>
</html>